anaconda-client==1.2.2
beautifulsoup4==4.5.3
bitarray==0.8.1
chardet==2.3.0
cloudpickle==0.2.2
conda==4.3.16
configobj==5.0.6
contextlib2==0.5.4
decorator==4.0.11
dill==0.2.5
dj-database-url==0.4.2
Django==1.11.3
Flask==0.12
Flask-Cors==3.0.2
gunicorn==19.6.0
imagesize==0.7.1
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
matplotlib==2.0.0
nbconvert==4.2.0
nbformat==4.2.0
networkx==1.11
nltk==3.2.5
notebook==4.3.1
numexpr==2.6.1
numpy==1.11.3
numpydoc==0.6.0
pandas==0.19.2
pathlib2==2.2.0
pickleshare==0.7.4
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
whitenoise==3.3.1

